<!doctype html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>